<ion-header class="glass">
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>

  <ion-toolbar position="top" style="border-bottom-right-radius: 80px; width: 50%; --background:transparent; position: absolute; top: 0; ">
      <ion-buttons slot="start">
        <ion-button fill="none" (click)="back()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Back
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label style="text-align: center; margin: 3px 0px 0px 0px; padding: 1px;">
    <h2>Joe Kwang</h2></ion-label>
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <ion-col size="9"  *ngIf="currentUser !== message.user" class="message test-Message">
        <img src="../../assets/images/placeholder/awal.jpg" style="object-fit: cover; width: 40px; height: 40px; border-radius: 50%; vertical-align:middle; margin-right: 10px;">
    <b>{{message.user}}</b>
    <br>    <br><span>{{message.msg}}</span>
        <div class="chattime">
        <p style="float:right; padding: 2px 0px 0px ">11:20am</p>
      </div>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="currentUser === message.user"  class="message other-Message">
        <img src="../../assets/images/placeholder/vote.jpg" style="object-fit: cover; width: 40px; height: 40px; border-radius: 50%; vertical-align:middle; margin-right: 10px;">
        <b>{{message.user}}</b><br><br>
        <span>{{message.msg}}</span>
        <div class="chattime">
        <p style="float:right; padding: 2px 0px 0px ">11:49am</p>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col size="12">
        <ion-item >
          <ion-input clearInput inputmode="text" type="text" min-length="1" maxlength="45" [(ngModel)] = 'txtValue'><ion-label>Reply:</ion-label></ion-input>
          <ion-button item-right (click)="comment(discoverpost.postid, txtValue, discoverpost)" class="send-button" fill="clear">Send</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>