.fixed-profile{
    height: 20vh;
}

// ion-slides {
//     // height: 120%;
// }

// .swiper-pagination{
//     display: none;
// }

// .slides-md{
    // --bullet-background: none;
    // --bullet-background-active: none;
    // --ion-background-color: #ebe7db;
// }

.swiper-slide {
    display: block;
}

#fixed-profile{
    display: flex;
    width: 100vw;
    // margin: 20px;
    margin: 20px 0;
    flex-direction: row;
}

#portfolio-gallery{
    flex-direction: row;
    margin: 0 5px 0 5px;
    align-items: center;
}

#posts-gallery{
    flex-direction: row;
    margin: 0 5px 0 5px;
    align-items: center;
}