.fixed-profile{
    height: 20vh;
}

ion-slides {
    height: 115%;
}

// .swiper-pagination{
//     display: none;
// }

// .slides-md{
    // --bullet-background: none;
    // --bullet-background-active: none;
    // --ion-background-color: #ebe7db;
// }

.swiper-slide {
    display: block;
}

#portfolio-gallery{
    flex-direction: row;
    margin: 0 5px 0 5px;
    align-items: center;
}