<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="fixed-profile">
    <strong>MY PROFILE</strong>
    <p>NAME</p>
    <p>SCH</p>
    <p>BIO</p>
  </div>


  <ion-slides pager="false">

    <ion-slide>
      <h1>Posts</h1>
      <br>
      <div id="posts-gallery"></div>
    </ion-slide>

    <ion-slide>
      <h1>Portfolio</h1>
      <br>
      <div id="portfolio-gallery">
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>