<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="clear">
        <ion-icon slot="start" src="../../assets/images/iconas/Chat.svg"></ion-icon>
      </ion-button>
      </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear">
        <ion-icon slot="start" src="../../assets/images/iconas/Activity.svg"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="fixed-profile">
  </div>

  <ion-slides pager="false">

    <ion-slide>
      <h1>Posts</h1>
      <br>
      <div id="posts-gallery" class="wrapper"></div>
    </ion-slide>

    <ion-slide>
      <h1>Portfolio</h1>
      <br>
      <div id="portfolio-gallery" class="wrapper">
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>