:host{
    --ion-background-color: rgb(255, 251, 251);
  }

strong{
font-weight: 400;
}

p, span{
font-weight: 300;
}

ion-toolbar{
    --font-weight: 600;
    text-align: center;
  }

.like{
    fill: red;
    color: red;
    text-align: center;
}

.unlike{
    fill: red;
    color: red;
}

.hide{
    display: none;
}

#like-counter{
    text-align: center;
    margin-top: 0;
}

#comment-counter{
    text-align: center;
    margin-top: 0;
}

ion-input{
    --background: white;
}

.send-button{
    --background: transparent;
    --color: black;
}

.titletxt{
    margin: 0;
}

// ion-title{
//     text-align: center;
//     display: inline-block;
// }

ion-button{
    --border-style: none;
}

.glass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  ion-toolbar{
    text-align: center;
    --font-weight: 600;
    --ion-background-color: #45444415;
    --color: #454444;
    --ion-toolbar-color: #454444;
    --ion-text-color: #454444;
  }

a.users{
    text-decoration: none;
    font-weight: 600;
}

ion-card{
    --background: transparent;
    border-radius: 60px;

    // backdrop-filter: blur(16px) saturate(180%);
    // -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.292);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

ion-card-content{
    display: none !important;
    --ion-card-background: #000000;
    --ion-item-background: #000000;
    --ion-background-color: #000000;
}

ion-item{
    --ion-background-color: none;
}