
// ion-content>.item-inner{
//     border-style: unset !important;
//     --ion-background-color: white !important; 
// }

// ion-content{
//     --ion-background-color: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,222,222,1) 23%, rgba(227,238,255,1) 72%, rgba(255,255,255,1) 100%);
// }

ion-list{
    --ion-background-color: transparent;
}


ion-toolbar{
    --font-weight: 600;
    text-align: center;
    color: rgb(72, 69, 69)
  }

.swiper-slide {
    display: block;
}

.glass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  ion-toolbar{
    --font-weight: 600;
    --ion-background-color: #45444415;
    --color: white;
    --ion-toolbar-color: white;
    --ion-text-color: white;
  }
  
  ion-tab-bar {
    margin: 0 3px 5px 3px;
    --background: rgb(255, 251, 251);
    --ion-tab-bar-color: rgb(72, 69, 69);
      --color: #9f9f9f !important;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .custom {
    --width: 90vw;
    min-width: 90vw;
    flex-wrap: nowrap;
  }
  
  .glass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  #displayProfile{
    min-height: 30vh;
    border-bottom-right-radius: 80px; 
    border-bottom-left-radius: 80px; 
    // background: rgb(23, 141, 245);
    background: linear-gradient(#00C3FF, #36ADD2);
    color: #fff;
  }
  
  .sectiontwo{
    margin: 64px 0 0 10px; 
    min-width: 84%;
  }

ion-card{
    --background: transparent;
    border-radius: 60px;

    // backdrop-filter: blur(16px) saturate(180%);
    // -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.292);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

ion-card-content{
    display: none !important;
    --ion-card-background: #000000;
    --ion-item-background: #000000;
    --ion-background-color: #000000;
}

.like{
    fill: red;
    color: red;
    text-align: center;
}

.unlike{
    fill: red;
    color: red;
}

.show{
    display: none;
}

.hide{
    display: none;
}

#like-counter{
    text-align: center;
    margin-top: 0;
}

#comment-counter{
    text-align: center;
    margin-left: 0;
}

// #comment-counter{
//     text-align: center;
//     margin-left: 15%;
// }

.bottomCard {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottomCardBar {
    position: relative;
    bottom: 0;
}

#mainTitle {
    text-align: center;
    margin-left: 20%;
}

a.users{
text-decoration: none;
font-weight: 600;
}

.clickable {
  pointer-events: auto !important;
}