<ion-header class="glass">
  <ion-toolbar>
    <ion-title style="justify-content: center; align-items: center; text-align: center;">
        <ion-select value="discover" interface="action-sheet"  [(ngModel)]="segment">
          <ion-select-option value="discover">Discover <ion-icon name="caret-down-outline"></ion-icon></ion-select-option>
          <ion-select-option value="social">Social</ion-select-option>
        </ion-select>
    </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar position="top" style="border-bottom-right-radius: 80px; width: 15%; --background:transparent; position: absolute; top: 0;">
    <ion-buttons slot="end" style="margin-right: 15px;">
      <ion-button fill="clear" (click)="openFirst()">
        <ion-icon src="../../../assets/images/iconas/Menu.svg"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>


<ion-menu class="custom" side="start" menuId="first" contentId="main">

  <div id="displayProfile">

    <div *ngFor="let userpost of userposts">
      <ng-container *ngIf="userpost.usersid == currentsid" >

        <ion-title style="margin: 30px 0 25px 10px; font-size: x-large;">Hi, {{ userpost.userfirstname }} {{ userpost.userlastname }} !</ion-title>

      <div class="sectiontwo">
        <ion-button fill="clear" (click)="gotoProfile()" style="height: 100%;">
        <img src="{{ userpost.useravatarurl }}"  style="object-fit: cover; width: 100px; height: 100px; border-radius: 50%; border: 1px solid white">
      </ion-button>
        
        <div class="sectiontwo-icons" style="float: right; padding-top: 55px; padding-right: 20px;">
          <ion-button fill="clear" (click)="gotoChat()" style="height: 100%;">
            <ion-icon src="../../../assets/images/iconas/Chatv2.svg" style="font-size: 30px;"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="gotoAct()" style="height: 100%;">
            <ion-icon src="../../../assets/images/iconas/Activitys.svg" style="font-size: 30px;"></ion-icon>
          </ion-button>
        </div>
      </div>
        <!-- <img src="{{ userinfo.schoolbadge }}" style="width:30px; vertical-align:middle; margin-left:5px">
        <p>@{{ userinfo.username }}</p>
        <p>{{ userinfo.userschool }} | {{ userinfo.userdiploma }} | Year {{ userinfo.useryear }}</p>
        <p style="font-size: x-small;">{{ userinfo.userbio }}</p> -->
        </ng-container>
      </div>

    </div>

<ion-content id="main">
  <ion-list>
    <ion-item>
      <ion-buttons>
      <ion-button fill="clear" (click)="logout()">
        <ion-icon name="log-out-outline" style="margin-right:10px"></ion-icon>
        Log out
      </ion-button>
    </ion-buttons>
    </ion-item>
    <!-- <ion-item>Menu Item</ion-item>
    <ion-item>Menu Item</ion-item>
    <ion-item>Menu Item</ion-item>
    <ion-item>Menu Item</ion-item> -->
  </ion-list>
</ion-content>
</ion-menu>


<ion-content id="maincontent" fullscreen>
  
  <!-- <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" value="discover">
    <ion-segment-button value="discover" checked>
      <ion-label>Explore</ion-label>
    </ion-segment-button>
    <ion-segment-button value="social">
      <ion-label>Social</ion-label>
    </ion-segment-button>
    </ion-segment> -->

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" [disabled]="false">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

<ion-list lines="none">
          <div *ngIf="segment === 'discover'">
          <div id="discover-gallery" *ngFor="let discoverpost of discoverposts; let i = index" [attr.data-index]="i">
        <ion-item>
          <ion-card style="width:100%; height:80vh;">
          <ion-card-header style="width:100%; height:30px ;margin: 10px 0;">
            <div *ngFor="let userpost of userposts">
          <ion-card-subtitle *ngIf="userpost.usersid == discoverpost.usersid" style="width:100%;">
            <div class="small-user" style="width:100%;">
            <div style=" float:left;">
              <img src="{{ userpost.useravatarurl }}" style="object-fit: cover; width: 40px; height: 40px; border-radius: 50%; vertical-align:middle; margin-right: 10px;">
              <a class="users" href="/home/profiles/{{ userpost.usersid }}">{{ userpost.userfirstname }} {{ userpost.userlastname }}</a>
              <img src="{{ userpost.schoolbadge }}" style="width:30px; vertical-align:middle; margin-left:5px">
            </div>
            <div style=" float:right;">
              <br>
              <span>#{{ discoverpost.posttype }}</span>
          </div>
          </div>
          </ion-card-subtitle>
          </div>
          </ion-card-header>
          <!-- <ion-card-content id="post_{{ discoverpost.postid }}"style="width:100%; height:100vh;"> -->
          
            <img src="{{ discoverpost.posturl }}" style="width:100%; height:300px ;margin: 20px 0;">
    
            <div class="bars" style="margin: 10px 0; width:100%; height: 10vh;">

            <div class="left-bar" style="width:75%; float: left; padding-left: 20px;"> 
              <!-- post -->
              <p>{{ discoverpost.postdesc }}</p>
              <!-- project -->
              <strong>{{ discoverpost.pjtitle }}</strong> 
              <p>{{ discoverpost.pjdesc }}</p>
              <p>#{{ discoverpost.pjteam }}</p>
            </div>

          <div class="right-bar" style="display:flex; flex-direction: column; float:right;">

            <ion-button (click)="like(discoverpost.postid, currentsid, discoverpost)"name="like" class="like like{{ discoverpost.postid }}" *ngIf="discoverpost.likedusersid !== currentsid" fill="clear"><ion-icon slot="icon-only" name="heart-outline"></ion-icon></ion-button>
            <ion-button (click)="unlike(discoverpost.postid, currentsid, discoverpost)" name="unlike" class="unlike unlike{{ discoverpost.postid }}" *ngIf="discoverpost.likedusersid == currentsid" fill="clear"><ion-icon slot="icon-only" name="heart"></ion-icon></ion-button>
            <span id="like-counter">{{ discoverpost.likes }}</span>
            <br>
            <ion-button (click)="presentModal(discoverpost.postid, discoverpost.comments, discoverpost.likes, discoverpost)" class="comment" fill="clear"><ion-icon slot="icon-only" name="chatbox-outline"></ion-icon></ion-button>
            <span id="comment-counter">{{ discoverpost.comments }}</span>
          </div>
          </div>

          <!-- </ion-card-content>  -->
          <ion-row>
            <ion-col></ion-col>
          </ion-row>
          <ion-row class="bottomCard" >
            <ion-col>
              <!-- <ion-button (click)="presentModal(discoverpost.postid, discoverpost.comments, discoverpost.likes, discoverpost)" class="comment" fill="clear"><ion-icon slot="icon-only" name="chatbox-outline"></ion-icon><span id="comment-counter">{{ discoverpost.comments }}</span></ion-button> -->
              <p style="float:right; padding: 0px 15px 0px 0 ">{{ discoverpost.postdate | timeAgo }}</p>  
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
          </ion-row>
            </ion-card>
        </ion-item>
      </div>
</div>



<div *ngIf="segment === 'social'">
  <div id="social-gallery" *ngFor="let socialpost of socialposts; let i = index" [attr.data-index]="i">
<ion-item>
  <ion-card style="width:100%; height:80vh;">
  <ion-card-header style="width:100%; height:30px ;margin: 10px 0;">
    <div *ngFor="let userpost of userposts">
  <ion-card-subtitle *ngIf="userpost.usersid == socialpost.usersid" style="width:100%;">
    <div class="small-user" style="width:100%;">
    <div style=" float:left;">
      <img src="{{ userpost.useravatarurl }}" style="object-fit: cover; width: 40px; height: 40px; border-radius: 50%; vertical-align:middle; margin-right: 10px;">
      <a class="users" href="/home/profiles/{{ userpost.usersid }}">{{ userpost.userfirstname }} {{ userpost.userlastname }}</a>
      <img src="{{ userpost.schoolbadge }}" style="width:30px; vertical-align:middle; margin-left:5px">
    </div>
    <div style=" float:right;">
      <br>
      <span>#{{ socialpost.posttype }}</span>
  </div>
  </div>
  </ion-card-subtitle>
  </div>
  </ion-card-header>
  <!-- <ion-card-content id="post_{{ socialpost.postid }}"style="width:100%; height:100vh;"> -->
  
    <img src="{{ socialpost.posturl }}" style="width:100%; height:300px ;margin: 20px 0;">

    <div class="bars" style="margin: 10px 0; width:100%; height: 10vh;">

    <div class="left-bar" style="width:75%; float: left; padding-left: 20px;"> 
      <!-- post -->
      <p>{{ socialpost.postdesc }}</p>
      <!-- project -->
      <strong>{{ socialpost.pjtitle }}</strong> 
      <p>{{ socialpost.pjdesc }}</p>
      <p>#{{ socialpost.pjteam }}</p>
    </div>

  <div class="right-bar" style="display:flex; flex-direction: column; float:right;">

    <ion-button (click)="like(socialpost.postid, currentsid, socialpost)"name="like" class="like like{{ socialpost.postid }}" *ngIf="socialpost.likedusersid !== currentsid" fill="clear"><ion-icon slot="icon-only" name="heart-outline"></ion-icon></ion-button>
    <ion-button (click)="unlike(socialpost.postid, currentsid, socialpost)" name="unlike" class="unlike unlike{{ socialpost.postid }}" *ngIf="socialpost.likedusersid == currentsid" fill="clear"><ion-icon slot="icon-only" name="heart"></ion-icon></ion-button>
    <span id="like-counter">{{ socialpost.likes }}</span>
    <br>
    <ion-button (click)="presentModal(socialpost.postid, socialpost.comments, socialpost.likes, socialpost)" class="comment" fill="clear"><ion-icon slot="icon-only" name="chatbox-outline"></ion-icon></ion-button>
    <span id="comment-counter">{{ socialpost.comments }}</span>
  </div>
  </div>

  <!-- </ion-card-content>  -->
  <ion-row>
    <ion-col></ion-col>
  </ion-row>
  <ion-row class="bottomCard" >
    <ion-col>
      <!-- <ion-button (click)="presentModal(socialpost.postid, socialpost.comments, socialpost.likes, socialpost)" class="comment" fill="clear"><ion-icon slot="icon-only" name="chatbox-outline"></ion-icon><span id="comment-counter">{{ discoverpost.comments }}</span></ion-button> -->
      <p style="float:right; padding: 0px 15px 0px 0 ">{{ socialpost.postdate | timeAgo }}</p>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col></ion-col>
  </ion-row>
    </ion-card>
</ion-item>
</div>
</div>
</ion-list>

</ion-content>