// ion-slides {
//     height: 100%;
// }

.swiper-slide {
    display: block;
}

ion-card-content{
    display: none !important;
    --ion-card-background: #000000;
    --ion-item-background: #000000;
    --ion-background-color: #000000;
}

.like{
    fill: red;
    color: red;
    text-align: center;
}

.unlike{
    fill: red;
    color: red;
}

.hide{
    display: none;
}

#like-counter{
    text-align: center;
    margin-top: 0;
}

#comment-counter{
    text-align: center;
    margin-top: 0;
}