@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:host{
  --ion-background-color: #FFFCF2;
  --ion-font-family: 'Open Sans', sans-serif;
}

strong{
  --font-weight: 400;
}

p, span{
  --font-weight: 300;
}

ion-toolbar{
  --font-weight: 600;
}

ion-tab-bar.md.hydrated{
--ion-tab-bar-background: #FFCF01;
--ion-background-color: #FFCF01;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// ion-icon svg{
//   --outline: black;
//   --color: black;
//   --fill: black;
//   --stroke: black;
//   --color-selected: black;
//   --ripple-color: var(--color-selected);
// }

ion-label{
  color: white;
}