:host{
  --ion-background-color: rgb(255, 251, 251);
}

strong{
--font-weight: 400;
}

p, span{
--font-weight: 300;
}

.glass{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

ion-toolbar{
  --font-weight: 600;
  --ion-background-color: #45444415;
  --color: #45444415;
  --ion-toolbar-color: #454444;
  --ion-text-color: #45444415;
}

ion-img{
    width: 500;
    height: 500;
}

ion-card{
  --ion-background-color: none;
}