@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:host{
  --ion-background-color: #FFFCF2;
  --ion-font-family: 'Open Sans', sans-serif;
}

ion-toolbar{
    --font-weight: 200;
    text-align: center;
  }


ion-header {
    --ion-background-color: #FFCF01;
    --color: white;
    --ion-toolbar-color: white;
    --ion-text-color: white;
}
