<ion-header class="glass">
  <ion-toolbar>

    <ion-title>Forum</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
      <ion-buttons slot="start">
      <ion-button fill="clear" (click)="arr()">
        <ion-icon  slot="end" name="reorder-three-outline"></ion-icon>
        Latest
      </ion-button>
      </ion-buttons>

    </ion-toolbar>

  <ion-card>
    <ion-item lines="none">
      <img src="../../../assets/images/placeholder/1.jpg" slot="end" style="width: 100px; text-align: center;">
      <ion-card-content>How to manage your stress better?    </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <img src="../../../assets/images/placeholder/2.jpg" slot="end" style="width: 100px; text-align: center;">
      <ion-card-content>Vote for your POP!nfluencer?    </ion-card-content>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item lines="none">
      <img src="../../../assets/images/placeholder/3.jpg" slot="end" style="width: 100px; text-align: center;">
      <ion-card-content>Favourite Chicken Rice in school   </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <img src="../../../assets/images/placeholder/7.jpg" slot="end" style="width: 100px; text-align: center;">
      <ion-card-content>I cant log into my school E-portfolio   </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <img src="../../../assets/images/placeholder/5.jpg" slot="end" style="width: 100px; text-align: center;">
      <ion-card-content>Reach out to youths in Andress Boys Home    </ion-card-content>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <img src="../../../assets/images/placeholder/6.jpg" slot="end" style="width: 100px; text-align: center;">
      <ion-card-content>COVID-19 Restrictions: 15 May - 16 June  </ion-card-content>
    </ion-item>
  </ion-card>

</ion-content>