<ion-header class="glass">
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>

  <ion-toolbar position="top" style="border-bottom-right-radius: 80px; width: 50%; --background:transparent; position: absolute; top: 0; ">
      <ion-buttons slot="start">
        <ion-button fill="none" (click)="back()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Back
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar style="margin-top: 10px;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-searchbar></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/images/placeholder/1.jpg">
    </ion-avatar>
    <ion-label (click)="gotoInchat()"  fill="clear">
      <h2>Joe Kwang</h2>
      <h3><br></h3>
      <p>Sorry Joe... I have already voted...</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/images/placeholder/awal.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Muhd Awal</h2>
      <h3><br></h3>
      <p>Have you paid me yet? It has been 20...</p>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/images/placeholder/3.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Irfan Shah</h2>
      <h3><br></h3>
      <p>Thank you for paying my lunch! See Ya!</p>
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/images/placeholder/4.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Hey</h2>
      <h3><br></h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>
</ion-content>