:host{
    --ion-background-color: rgb(255, 251, 251);
  }

strong{
font-weight: 400;
}

p, span{
font-weight: 300;
}

ion-toolbar{
  font-weight: 600;
}

.titletxt{
    margin: 0;
}

ion-button{
    --border-style: none;
}

.glass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  ion-toolbar{
    --font-weight: 600;
    --ion-background-color: #45444415;
    --color: #45444415;
    --ion-toolbar-color: #454444;
    --ion-text-color: #45444415;
  }

.pfp:hover{
    img{
        opacity: 50%;
    }
}

ion-item{
    --ion-background-color: none;
}

.sc-ion-input-md-h.sc-ion-input-md-s {
background-color: transparent;
}