@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:host{
  --ion-background-color: #FFFCF2;
  --ion-font-family: 'Open Sans', sans-serif;
}

strong{
  --font-weight: 400;
}

p, span{
  --font-weight: 300;
}

ion-toolbar{
  --font-weight: 600;
  text-align: center;
}

.swiper-slide {
    display: block;
}

.fixed-profiles{
  display: flex;
  width: 100vw;
  // margin: 20px;
  // margin: 20px 0;
  flex-direction: column;
  font-size: medium;
  justify-content: center;
  align-content: center;
}

#portfolio-profiles{
    flex-direction: row;
    // margin: 0 5px 0 5px;
    // align-items: center;
}

#posts-profiles{
    flex-direction: row;
    // margin: 0 5px 0 5px;
    // align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
//   gap: 10px;
  grid-auto-rows: minmax(130px, 140px);
}

ion-header{
  --ion-background-color: #FFCF01;
  --color: white;
  --ion-toolbar-color: white;
  --ion-text-color: white;
}

.dot {
  height: 70px;
  width: 70px;
  background-color: #FFCF01;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}