<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="clear">
        <ion-icon slot="start" src="../../assets/images/iconas/Chat.svg"></ion-icon>
      </ion-button>
      </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear">
        <ion-icon slot="start" src="../../assets/images/iconas/Activity.svg"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="fixed-profiles">
  </div>

  <ion-slides pager="false">

    <ion-slide>
      <h1>Posts</h1>
      <br>

      <div class="wrapper">
        <ng-container  *ngFor="let userpost of userposts">
          <div id="posts-gallery" *ngIf="userpost.posttype == 'post' && userpost.usersid == str2">
          <img src="{{ userpost.posturl }}" class="{{ userpost.postid }}" style="width: 100%; height: 150px; padding: 1px 1px;">
        </div>
        </ng-container>
      </div>

    </ion-slide>

    
    <ion-slide> 
      <h1>Portfolio</h1>
      <br>

        <div class="wrapper">
          <ng-container  *ngFor="let userpost of userposts">
            <div id="portfolio-gallery" *ngIf="userpost.posttype == 'portfolio' && userpost.usersid == str2">
            <img src="{{ userpost.posturl }}" class="{{ userpost.postid }}" style="width: 100%; height: 150px; padding: 1px 1px;">
          </div>
          </ng-container>
        </div>

    </ion-slide>

  </ion-slides>

</ion-content>