.swiper-slide {
    display: block;
}

#fixed-profiles{
    display: flex;
    width: 100vw;
    // margin: 20px;
    margin: 20px 0;
    flex-direction: row;
}

#portfolio-profiles{
    flex-direction: row;
    // margin: 0 5px 0 5px;
    // align-items: center;
}

#posts-profiles{
    flex-direction: row;
    // margin: 0 5px 0 5px;
    // align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
//   gap: 10px;
  grid-auto-rows: minmax(130px, 140px);
}