<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="clear">
        <ion-icon slot="start" src="../../assets/images/iconas/Chat.svg"></ion-icon>
      </ion-button>
      </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear">
        <ion-icon slot="start" src="../../assets/images/iconas/Activity.svg"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="false">
    <ion-slide>

  <div *ngFor="let userinfo of userinfos">
    <ng-container *ngIf="userinfo.usersid == str2 && userinfo.usersidhost == currentsid || userinfo.usersid == str2 && userinfo.usersidhost == null">
    <div id="left-fixed-profiles" class="fixed-profiles" style="color: #0070CC; height: 35vh; padding-top: 10px; background-image: linear-gradient(#FFFFFF, #FFCF01);">
    <div class="leftProfiles">
      <img src="{{ userinfo.useravatarurl }}"  style="object-fit: cover; width: 80px; height: 80px; border-radius: 50%; margin: 10px auto 20px; display: block;">
    </div>
    <div class="rightProfiles">
      <strong>{{ userinfo.userfirstname }} {{ userinfo.userlastname }}</strong><img src="{{ userinfo.schoolbadge }}" style="width:30px; vertical-align:middle; margin-left:5px">
      <p>@{{ userinfo.username }}</p>
      <p>{{ userinfo.userschool }} | {{ userinfo.userdiploma }} | Year {{ userinfo.useryear }}</p>
      <p style="font-size: x-small;">{{ userinfo.userbio }}</p>
    </div>
    </div>

  <!-- <div *ngFor="let userpost of userposts">
    <p>{{ userpost.posturl }}</p>
  </div> -->
  <!-- <ion-slides pager="false"> -->

    <div class="follow-part" style="height: 12vh; font-size: small; margin: 0 20px; color: #0070CC;">
      <div class="following" style="margin: 25px 0; width: 20%; float: left; border-right: 2px solid #0070cc2a;">
        <span>{{ userinfo.followings }}</span> <br>
        <strong>Following</strong>
      </div>

      <div class="followers" style="margin: 25px 0; width: 20%;float: left;">
        <span>{{ userinfo.followers }}</span> <br>
        <strong>Followers</strong>
      </div>

      <ion-button shape="round" style="margin: 25px 10px; float: right;" *ngIf="userinfo.following == 0 || userinfo.following == null" (click)="follow(userinfo, currentsid, str2);">Follow</ion-button>
      <ion-button shape="round" style="margin: 25px 10px; float: right;" *ngIf="userinfo.following == 1" (click)="unfollow(userinfo, currentsid, str2);">Unfollow</ion-button>
    </div>
    </ng-container>
    </div>

    <div class="posts-title" style="height: 30px;">
      <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" value="posts">
        <ion-segment-button value="posts" checked>
          <strong style="color: #FFCF01;">POSTS</strong>
        </ion-segment-button>
        <ion-segment-button value="likes">
          <strong style="color: #FFCF01;">LIKES</strong>
        </ion-segment-button>
        </ion-segment>
    </div>
    <br>
    
    <div class="wrapper" *ngIf="segment === 'posts'">
      <ng-container  *ngFor="let userpost of userposts">
        <div id="posts-gallery" *ngIf="userpost.posttype == 'post' && userpost.usersid == str2">
        <img src="{{ userpost.posturl }}" class="{{ userpost.postid }}" style="object-fit: cover; width: 100%; height: 150px; padding: 1px 1px;"  (click)="presentPostModal(userpost.postid, currentsid)">
      </div>
      </ng-container>
    </div>

    <div class="wrapper" *ngIf="segment === 'likes'">
      <ng-container  *ngFor="let userpost of userposts">
        <div id="posts-gallery" *ngIf="userpost.posttype == 'post' && userpost.likedusersid == str2">
        <img src="{{ userpost.posturl }}" class="{{ userpost.postid }}" style="object-fit: cover; width: 100%; height: 150px; padding: 1px 1px;"  (click)="presentPostModal(userpost.postid, currentsid)">
      </div>
      </ng-container>
    </div>

    </ion-slide>

    
    <ion-slide> 
      <div *ngFor="let userinfo of userinfos">
        <ng-container *ngIf="userinfo.usersid == str2 && userinfo.usersidhost == currentsid || userinfo.usersid == str2 && userinfo.usersidhost == null" >
        <div id="left-fixed-profiles" class="fixed-profiles" *ngIf="userinfo.usersid == str2"  style="color: #0070CC; height: 35vh; padding-top: 10px; background-image: linear-gradient(#FFFFFF, #FFCF01);">
        <div class="leftProfiles">
          <img src="{{ userinfo.useravatarurl }}"  style="object-fit: cover; width: 80px; height: 80px; border-radius: 50%; margin: 10px auto 20px; display: block;">
        </div>
        <div class="rightProfiles" style="font-size: x-small; width: 100%; white-space: nowrap;">
          <p>{{ userinfo.usercontactno }}   |   {{ userinfo.useremail }}   |   {{ userinfo.userlink }}</p>
        </div>
        </div>

        <div class="skill-part" style="height: 12vh; font-size: small; margin: 0 5px; color: #0070CC;">
          <div class="skills-list" style="padding: 17px 0;">
          <span class="dot"><p>{{ userinfo.userskill1 }}</p></span>
          <span class="dot"><p>{{ userinfo.userskill2 }}</p></span>
          <span class="dot"><p>{{ userinfo.userskill3 }}</p></span>
          <span class="dot"><p>{{ userinfo.userskill4 }}</p></span>
        </div>
        </div>
      </ng-container>
      </div>

      <div class="posts-title" style="height: 30px;">
        <ion-segment value="projects">
          <ion-segment-button value="projects" checked>
            <strong style="color: #FFCF01;">>PROJECTS</strong>
          </ion-segment-button>
          </ion-segment>
      </div>
      <br>

      <div class="wrapper">
        <ng-container  *ngFor="let userpost of userposts">
          <div id="portfolio-gallery" *ngIf="userpost.posttype == 'portfolio' && userpost.usersid == str2">
            <img src="{{ userpost.posturl }}" class="{{ userpost.postid }}" style="object-fit: cover; width: 100%; height: 150px; padding: 1px 1px;"  (click)="presentPortfolioModal(userpost.postid, currentsid)">
        </div>
        </ng-container>
      </div>

    </ion-slide>

  </ion-slides>

</ion-content>