@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:host{
//  --ion-color-primary: #FFCF01;
//   --ion-background-color: #FFFCF2;
--ion-background-color: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,222,222,1) 23%, rgba(227,238,255,1) 72%, rgba(255,255,255,1) 100%);
//   --ion-font-family: 'Open Sans', sans-serif;
}

strong{
  --font-weight: 400;
}

p, span{
  --font-weight: 300;
}

.glass{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

ion-toolbar{
  text-align: center;
  --font-weight: 600;
  --ion-background-color: #45444415;
  --color: #454444;
  --ion-toolbar-color: #454444;
  --ion-text-color: #454444;
}

.swiper-slide {
    display: block;
}

.fixed-profiles{
  display: flex;
  width: 100vw;
  // margin: 20px;
  // margin: 20px 0;
  flex-direction: column;
  font-size: medium;
  justify-content: center;
  align-content: center;
}

#portfolio-profiles{
    flex-direction: row;
    // margin: 0 5px 0 5px;
    // align-items: center;
}

#posts-profiles{
    flex-direction: row;
    // margin: 0 5px 0 5px;
    // align-items: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
//   gap: 10px;
  grid-auto-rows: minmax(130px, 140px);
}

ion-header{
  --ion-background-color: #FFCF01;
  --color: white;
  --ion-toolbar-color: white;
  --ion-text-color: white;
}

.dot {
  height: 70px;
  width: 70px;
  background-color: #FFCF01;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  padding: 0 5px;
}

.dot p{
  line-height:50px;
  white-space: nowrap;
}