<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" (click)="dismiss()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Back
      </ion-button>
      </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="dismiss()" fill="clear"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
  <h4>Comments</h4> -->

  <div id="discover-gallery" *ngFor="let discoverpost of discoverposts">
    <ng-container *ngIf = "discoverpost.postid == postid">
    <ion-item style=" --ion-card-background: #FFFFFF;">
      <ion-card style="width:100%;">
        <ion-card-header style="width:100%; height:30px ;margin: 10px 0;">
          <div *ngFor="let userpost of userposts">
        <ion-card-subtitle *ngIf="userpost.usersid == discoverpost.usersid" style="width:100%;">
          <div class="small-user" style="width:100%;">
          <div style=" float:left;">
            <a href="/home/profiles/{{ userpost.usersid }}">{{ userpost.userfirstname }} {{ userpost.userlastname }}</a>
            <img src="{{ userpost.schoolbadge }}" style="width:30px; vertical-align:middle; margin-left:5px">
          </div>
          <div style=" float:right;">
            <span>#{{ discoverpost.posttype }}</span>
        </div>
        </div>
        </ion-card-subtitle>
        </div>
        </ion-card-header>
      
        <img src="{{ discoverpost.posturl }}" style="width:100%; height:300px ;margin: 30px 0;">

        <div class="bars" style="margin: 30px 0; width:100%; height: 10vh;">

        <div class="left-bar" style="width:75%; float: left; padding-left: 20px;"> 
          <p>{{ discoverpost.postdesc }}</p>
        </div>

      <div class="right-bar" style="display:flex; flex-direction: column; float:right;">
        <ion-button (click)="like(discoverpost.postid, currentsid, discoverpost)"name="like" class="like like{{ discoverpost.postid }}" *ngIf="discoverpost.likedusersid !== currentsid" fill="clear"><ion-icon slot="icon-only" name="heart-outline"></ion-icon></ion-button>
        <ion-button (click)="unlike(discoverpost.postid, currentsid, discoverpost)" name="unlike" class="unlike unlike{{ discoverpost.postid }}" *ngIf="discoverpost.likedusersid == currentsid" fill="clear"><ion-icon slot="icon-only" name="heart"></ion-icon></ion-button>
        <span id="like-counter">{{ discoverpost.likes }}</span>

        <ion-button (click)="dismiss()" class="comment" fill="clear"><ion-icon slot="icon-only" name="chatbox-outline"></ion-icon></ion-button>
        <span id="comment-counter">{{ discoverpost.comments }}</span>
      </div>
      </div>
        <p style="float:right; display:block; margin: 30px 0; margin: 10px 10px">{{ discoverpost.postdate }}</p>
        </ion-card>
    </ion-item>

    <ion-item id="comment-input">
      <ion-input clearInput inputmode="text" type="text" min-length="1" [(ngModel)] = 'txtValue'><ion-label>Comment:</ion-label></ion-input>
      <ion-button item-right (click)="comment(discoverpost.postid, txtValue, discoverpost)" class="send-button" fill="clear">Send</ion-button>
    </ion-item>

    </ng-container>
  </div>


    <div id="comments-section"></div>    
    <!-- <ion-label>
    <p>Post a comment now</p>
  </ion-label>   -->

  <div *ngFor="let commentdata of commentdatas">
    <ng-container *ngIf = "commentdata.commentpostid == postid">
    <ion-item>
      <ion-label>
        <strong>{{ commentdata.commentusersid }}</strong>
        <p>{{ commentdata.commentfield }}</p>
      </ion-label>
    </ion-item>
    </ng-container>
  </div>
</ion-content>
