<ion-header class="glass">
  <ion-toolbar>
    <ion-searchbar animated value="" showCancelButton="focus" (ionInput)="retrieveUser($event)" (ionFocus)="overlay($event)" (ionClear)="unoverlay($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding [ngClass]="{'my-overlay': overlayHidden === true}">
    <ion-list  lines="none" *ngFor="let userinfo of userinfos">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{ userinfo.useravatarurl }}">
        </ion-avatar>
        <ion-label>
          <a class="users" href="/home/profiles/{{ userinfo.usersid }}">
          <h3>{{ userinfo.userfirstname }} {{ userinfo.userlastname }}<img src="{{ userinfo.schoolbadge }}" style="width:23px; vertical-align:middle; margin-left:5px"></h3>
          <p>@{{ userinfo.username }}</p>
          </a>
        </ion-label>
      </ion-item>
      </ion-list>
</div>

<div class="images">
  <div class="one-image" *ngFor="let rankingpost of rankingposts">
    <img src="{{ rankingpost.posturl }}" (click)="presentPostModal(rankingpost.posttype, rankingpost.postid)">
  </div>
</div>

</ion-content>