@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:host{
  --ion-background-color: #FFFCF2;
  --ion-font-family: 'Open Sans', sans-serif;
}

strong{
    --font-weight: 400;
}

p, span{
    --font-weight: 300;
}

ion-toolbar{
    --font-weight: 600;
    // text-align: center;
    --ion-background-color: #FFCF01; 
  }

  ion-searchbar{
    --ion-background-color: #FFFCF2;
  }

// .swiper-slide {
//     display: block;
// }

// .refresher-md{
// --ion-background-color:white;
// --ion-text-color: white;
// --color: white;
// }

ion-refresher-content {
    padding-bottom: 200px;
    padding-top: 50px;
    background-color: #FFCF01;
    --ion-text-color: white;
    --color: white;
    // margin-bottom: 200px;
  
    // .refresher-pulling {
    //   position: fixed;
    //   top: 50px;
    // }
  }

ion-card-content{
    display: none !important;
    --ion-card-background: #000000;
    --ion-item-background: #000000;
    --ion-background-color: #000000;
}

ion-header{
    --ion-background-color: #FFCF01;
    --color: white;
    --ion-toolbar-color: white;
    --ion-text-color: white;
}

.image-container {
    min-height: 200px;
    // min-width: 350px;
    background-size: cover;
}

@media (min-width: 0px) {
    .images {
        column-count: 2;
    }
}

@media (min-width: 420px) {
    .images {
        column-count: 3;
    }
}

@media (min-width: 720px) {
    .images {
        column-count: 4;
    }
}

// .one-image {
//     // margin: 2px;
//     // padding: 0 15px;
// }

.my-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 20;
  }