<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Login</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <strong>Ready to login?</strong>
      <form [formGroup]="form" (submit)="connectToDB()">
        <ion-item>
          <ion-label position="floating" placeholder="Enter SID">Student ID</ion-label>
          <ion-input type="text" [(ngModel)]="sid" required formControlName="sid"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" placeholder="Enter Password">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" required formControlName="password"></ion-input>
        </ion-item>

        <ion-button type="submit" class="loginButton" [disabled]=form.invalid>LOG IN</ion-button>
      </form>
    </div>
  </ion-content>

